body {
    margin: 5px;
    font-family: "Courier New", Courier, monospace;
}

#answer_field {
    height: 20px;
    border: blue solid 2px;
    border-radius: 2px;
    padding: 2px;
    text-align: center;
    width: 839px;
    margin: 2px;
    font-weight: bold;
    background-color: aliceblue;
}

.image {
    width: 850px;
}

.svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.container {
    width: fit-content;
    margin-top: 70px;
}

.row {
    width: 850px;
    display: flex;
}

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
}

a {
    flex: auto;
    border: blue solid 2px;
    border-radius: 2px;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin: 2px;
    background-color: aliceblue;
}

.btn-selected {
    background-color: bisque;
}

@media (max-width: 870px) {
    .row {
        width: calc(100vw - 35px);
        display: flex;
        flex-direction: column;
    }

    #answer_field {
        min-height: 20px;
        height: fit-content;
        border: blue solid 2px;
        border-radius: 2px;
        padding: 2px;
        text-align: center;
        width: calc(100vw - 35px);
        margin-top: 2px;
        font-weight: bold;
        background-color: aliceblue;
    }

    a {
        flex: auto;
        border: blue solid 2px;
        border-radius: 2px;
        padding: 2px;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        margin: 2px;
        background-color: aliceblue;
        width: 100%;
    }

    .container {
        width: fit-content;
        margin-top: 130px;
    }

    .svg {
        display: block;
        margin-left: unset;
        margin-right: unset;
        width: fit-content;
    }
}